<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                <b>Welcome</b>
            </p>
            <input type="submit" value="To Home" />
        </form>
    </div>
    <div>
        <h1>List of Loans</h1>
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Loan Code</th>
                    <th>Borrower</th>
                    <th>Book Name</th>
                    <th>Book</th>
                    <th>Start Date</th>
                    <th>Expired Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="loanResult: ${lLoans}">
                    <td><strong th:text="${loanResult.loan_code}"></strong></td>
                    <td th:text="${loanResult.borrower}"></td>
                    <td th:text="${loanResult.bookName}"></td>
                    <td th:text="${loanResult.statusName}"></td>
                    <td th:text="${loanResult.createdDate_view}"></td>
                    <td th:text="${loanResult.updatedDate_view}"></td>
                </tr>
                <h3><a th:href="@{/bookhome}">List of Books</a></h3>
                <h3><a th:href="@{/userhome}">List of Students</a></h3>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>